<div class="container">
  <h2 class="mt-3 text-center">Lisets des Evenements:</h2>
  <button type="button" class="btn btn-primary float-right" (click)="add()">Ajouter</button>



  <div class="row mt-5 col-md-12">
    <div class="col-md-4 mr-2 ml-2 mt-3" *ngFor="let event of events; let i = index;">
      <p-card header="{{ event.titre }}" subheader="De : {{ event.date_debut }} Au : {{ event.date_fin }}" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <p-header>
            <img alt="Card" src="assets/img/events.jpg">
        </p-header>
        <h6>Oragnisee par : {{ event.organisateur }}</h6>
        <p>{{ event.description }}</p>
        <button pButton type="button" label="Editer" class="p-button-warning" [style]="{float: 'left'}" (click)="edit(event, i)"></button>

         <button pButton type="button" label="Supprimer" class="p-button-danger" [style]="{float: 'right'}" (click)="supp(i)"></button>

        <ng-template pTemplate="footer">
        </ng-template>
      </p-card>
    </div>
  </div>

<app-edit *ngIf="mode == 'edit'" [event]="eventActive" (eventEmit)="updateEvent($event)"></app-edit>
<app-add *ngIf="mode == 'add'" (eventEmit)="addEvent($event)"></app-add>

</div>
